fastapi
uvicorn
gunicorn
uvloop
httptools
tenacity
psutil
pydantic[email]
python-dotenv
python-jose
pydantic_ai
logfire[fastapi]
asyncpg
psycopg2-binary
sqlalchemy
alembic
aiohttp
aiosmtplib
google-auth
redis
greenlet
pytest